@import '@/styles/variables.scss';

.detail-layout {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 290px);

  @media (max-width: $mq-tablet-horizontal) {
    flex-direction: column;
    align-items: center;
  }

  &__main {
    width: 100%;
    max-width: 660px;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-right: 25px;
    position: relative;

    @media (max-width: $mq-tablet-horizontal) {
      margin-bottom: 25px;
      margin-right: 0;
    }
  }

  &__widget {
    width: 100%;
    max-width: 420px;
  }

  &__sidebar {
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}
